.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.range {
    width: 70%;
}

.showData {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}


.showData > div {
    display: flex;
    justify-content: space-between;
}

.showData h6 {
    font-weight: bold !important;
}