<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxilog</title>
</head>
<script src="view/controller/get-data.js"></script>
<body>
    <table>
        <tr>
            <th>Lat</th>
            <th>Long</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
        <tr>
            <td id="lat">0</td>
            <td id="long">0</td>
            <td id="fecha">0</td>
            <td id="hora">0</td>
        </tr>
    </table>
</body>

</html>
