<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/view/public/Taxilog_png.png">
    <title>Taxilog</title>
    <link type="text/css" href="../view/public/visual.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<body>

    <div class="page-container">
       
        <div id="map"></div>

        <div class="info-table">
            <div class="logo-container">
                <img src="../view/public/Taxilog_png.png" alt="Logo">
            </div>

            <div class="info-field field-lat">
                <div class="info-name">Lat</div>
                <div class="info-value" id="lat">0.0</div>
            </div>
            <div class="info-field field-lng">
                <div class="info-name">Lng</div>
                <div class="info-value" id="long">0.0</div>
            </div>
            <div class="info-field field-ts">
                <div class="info-name">Time Stamp</div>
                <div class="info-value" id="fecha">00:00</div>
            </div>
        </div>

        <div class="historicos">

            <a href="/historicos">historicos</a>
        </div>
    </div>
    
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script>
    var map = L.map('map').setView([10.989179, -74.809788], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibHVpc2NoaWNhIiwiYSI6ImNsMGViamN0czBoZ28zY3FzcHpnMGpvNHYifQ.YZGgB-aYKFdaFq10D_q6ow'
    }).addTo(map);
</script>
<script src="../view/controller/get-data.js"></script>